@use "sass:math";
 //funciones de introspeccion
 //type-of()
 //unit()
 //unitless
 //inspect() cuando tenemos problemas para compilar
 //inspect nos ayuda saber que valor es el que estamos 
 //compilando y saber cual es el posible error al ver el valor 
 //que nos estamos trayendo 
 //las siguientes evaluan si existen
 //las variables, funciones o mixins
      //variable-exists (variable)
      //function-exists(funcionName)
      //mixin-exists(mixinName) 
//call () como primer parametro
//pasamos a la funcion y como segundo
//parametro el valor

 $var:20px;
$map: (
k1: v1,
k2: v2
);
@function double($val){
  @return $val * 2;
}

.inspect {
  value: inspect($map);
  variable-exists: variable-exists(map);
  function-exists:function-exists(double);
  width: call(double,15px);
}

