@use "sass:math";
// condicionales; son condiciones, si secumple una condicion se ejecuta cierta parte de codigo y si no se cumple, no se ejecuta
@mixin grid($child, $number) {
  display: flex;
  flex-wrap: wrap;

  @if $child == li {
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    list-style: none;
  }

  #{$child}, .#{$child} {
    width: math.div(100%, $number);
  }
}
.gallery {
  @include grid(photo, 4);
}

@mixin columns($col,$max-cols:12){
@if $col <= $max-cols {
  width: percentage(math.div($col,$max-cols));
} @else {
  @at-root {
    body {
      &::before {
    content: "El parametro de '$col' no puede ser mayor o superar a '$max-cols'";
    display: block;
    padding-bottom: 1em;
    font-family:monospace;
    background: lightcoral;
  }
    }
  }
}
}
.column-3 {
  @include columns(13);
  background: lightblue;
  color: aqua;
  color: green;
}